table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px;
}

#qna_id_th {
    width: 100px;
}

#qna_title_th {
    width: 400px;
}

#qna_user_th {
    width: 150px;
}

#qna_create_th {
    width: 150px;
}

.qna_tr {
    height: 60;
}

.text_1 {
    text-align: center;
}