/* 질문 페이지 - 테이블 */

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

th, td {
    padding: 10px 20px;
}

.qna_index {
    margin: 50px auto;
}

#qna_id_th {
    width: 100px;
}

#qna_title_th {
    width: 400px;
}

#qna_user_th {
    width: 100px;
}

#qna_create_th {
    width: 150px;
}

.qna_tr {
    height: 60;
}

.text_1, #empty_qna{
    text-align: center;
}

.text_1 {
    cursor: pointer;
}

#add_ques {
    width: 300px;
    height: 70px;
    font-size: 25px;
    background-color: lightgreen;
    border: 0;
    margin: 30px;
}

/* 질문 생성, 수정 페이지 */
.create_ques, .edit_ques {
    margin: 50px auto;
}

#question_title, #question_content {
    margin: 30px;
}

#question_title {
    width: 700px;
    height: 40px;
    font-size: 20px;
}

#question_content, #answer_content {
    font-size: 20px;
    resize: none;
}

#save_question, #update_ques, #save_answer, #update_answer {
    width: 700px;
    height: 60px;
    background-color: lightgreen;
    font-size: 20px;
    border: 0;
    margin: 30px;
}

/* 질문 내용 페이지 */
#show_ques {
    margin: 100px;
}

#title, #content, .ans_content, #empty_ans,
#question_title, #question_content,
#ans_ques_title, #ans_ques_content {
    text-align: left;
    width: 800px;
    padding: 30px;
    font-size: 20px;
    margin: 0 auto;
    border: 1px solid lightgreen;
    border-radius: 10px;
}

#title, #empty_ans {
    height: 30px;
}

.ans_content {
    margin: 30px auto;
}

.date {
    text-align: right;
}

#date_bar {
    width: 800px;
    margin: auto;
}

.qna_btn {
    width: 150px;
    height: 40px;
    margin: 50px 10px;
    font-size: 20px;
    background-color: lightgreen;
    border: 0;
}

.show_question {
    margin: 30px;
}


/* 답변 등록, 수정 */

#question_title, #question_content, #answer_content,
#ans_ques_title, #ans_ques_content {
    width: 800px;
    margin: 30px;
    padding: 30px;
    font-size: 20px;
    margin: 0 auto;
    border: 1px solid lightgreen;
    border-radius: 10px;
}

#save_id {
    margin: 50px auto;
}

.create_ans {
    margin: 30px;
}

#user_id {
    display: inline;
}

#user_bar {
    text-align: right;
    width: 800px;
    margin: auto;
}